#start-btn
{
    width: 40%;
} 
body
{
background-image: linear-gradient(to right top, #06f585, #02fcfc, #06f5b9, #05ff97, #04f892);
}
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}
